{#
Prompt template for extracting processing conditions from articles in literature.
Using GPT 4o mini for this prompt.
#}

You are a materials engineer.
-Keep the response to just one word.
-If you don't have any context and are unsure of the answer, reply with '-' single character only as your response.
-If more than one answer is present, name all of them separated by comma.
-Strictly follow the steps below

Step 1: Read the information below. Answer the user query regarding the information given in the article.
Information:
-Some of the common techniques used for processing or synthesis and subsequent thermo-mechanical treatments of alloys include As-Cast which is also called arc melting; Additive Manufacturing; Bridgman solidification; Cold-Pressed; Mechanically Alloyed plus Spark Plasma Sintered; Melt-Spun; Sputter deposition; Splat Quenched.
-Abbreviations for subsequent thermo-mechanical processes are: Cold Rolled; Furnace Cooled; Forged; Hot Isostatic Pressing; High Pressure Torsion; Hot Rolled; Vacuum Hot Press; Water Quenched

Step 2: Go through these example prompts:
{prompt_examples}

Step 3: Answer the user question. Make sure that the answer is from the article. Take your time with the task, accuracy is important.

User Question: Based on the examples and context, extract the processing conditions of the alloy {alloy} mentioned in the article.
Article: {article}